# Example only. Runtime credentials are generated outside Git at:
#   ~/.config/workstation/dev-services.env

POSTGRES_USER=platformdev
POSTGRES_PASSWORD=change-me
POSTGRES_DB=platformdev
POSTGRES_HOST_PORT=5432
PGBOUNCER_HOST_PORT=6432

REDIS_PASSWORD=change-me
REDIS_HOST_PORT=6379

KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
KAFKA_HOST_PORT=9092

OPENSEARCH_INITIAL_ADMIN_PASSWORD=ChangeMe1!
OPENSEARCH_HOST_PORT=9200

RABBITMQ_DEFAULT_USER=platformdev
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_AMQP_HOST_PORT=5672
RABBITMQ_UI_HOST_PORT=15672

MONGO_INITDB_ROOT_USERNAME=platformdev
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGO_INITDB_DATABASE=platformdev
MONGO_HOST_PORT=27017

MINIO_ROOT_USER=platformdev
MINIO_ROOT_PASSWORD=change-me
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001

MAILPIT_SMTP_HOST_PORT=1025
MAILPIT_UI_HOST_PORT=8025
